@import "@fortawesome/fontawesome-free/css/all.css";


$primary: #6A040F;
$secondary: #F48C06;
$danger: black;
$success: white;
$warning: #640438;


h1, h2{
    font-family: Playfair Display; 
}

p, h3 {
    font-family: montserrat;
}

button{
    color: $success;
    background-color: $primary;
    border: 2px solid $secondary;
}

@import "bootstrap/scss/bootstrap";

// .main_container{
//     margin-left: 10rem;
//     margin-right: 10rem;
// }


.navbar-nav .nav-link.active{
    color: $success;
    background-color: $primary;
    border: 2px solid $secondary;
}

.navbar-nav .nav-link:hover{
    color: $success;
}

#jumbotron-area{
    background-image: url('images/spices headline 2'); 
    background-size: cover; 
    background-position: center;
}

img {
    height: 100%;
    width: 100%;
}

// .soup{
//     height: 350px;
// }

#store-card{
    height: 100%;
    width: 100%;
}

ul, ol{
    font-family: montserrat;
}



@mixin custom-button {
  border-radius: 15px;
  margin-left: 5px;
  
  &:hover {
    background-color: darken($primary, 20%);
  }
}

.btn-nav {
  @include custom-button;
}

.btn-custom {
  @include custom-button;
}

a {
    text-decoration: none;
    color: $warning;
}


